		/*imports*/

		/*Reset*/
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	outline: none;
}
html{
	scroll-behavior: smooth;
}
html,body{
	height: 100%;
}
a{text-decoration: none;color: initial;}
		/*auxiliares*/
.container-xxl{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}
		/*Site*/
		/*bg-top*/
.box{
	position: relative;
	top: 56px;
}
.bg-top{
	width: 100%;
	min-height: calc(100vh - (56px + 59.2px));
	background-image: url('../images/rain.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
}
.cover-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.60);
	z-index: 0;
}
.fix-zIndex{
	position: relative;
	z-index: 1;
}
.bg-linha{
	padding: 10% 0;
	color: white;
}
.bg-linha > div{
	padding: 0 20px;
}
.sub-text{
	color: #E0E0E0;
	font-weight: lighter;
}
.t-shadow{
	text-shadow: 0 2px 3px rgba(0,0,0,.9);
}
.form-text{
	color: #BDBDBD;
}
		/*chamada*/

#chamada{
	background-color: #212529;
	padding: 8px 0;
	color: white;
}
#chamada h2{
	font-size: 36px;
}
		/*Sobre*/
#sobre{
	padding: 30px 0;
	background-color: rgba(111,111,111,.5);
}
.custom-title{
	position: relative;
	padding-bottom: 10px;
}
.custom-title h2{
	/*color: #888*/;
	font-size: 25px !important;
}
.custom-title div{
	position: absolute;
	left: 0;
	top: -8px;
	width: 8%;
	height: 4px;
	background-color: #212529;
}
	/*Diferenciais*/
#diferenciais{
	padding: 40px 0; 
}
#diferenciais .diferenciais-wrapper{
	padding: 40px 0;
}
.single-diferencial{
	padding: 0 20px;
}
.single-diferencial h2{
	padding-bottom: 3px;
	border-bottom: 5px dotted #ccc;
}
.single-diferencial i{
	font-size: 65px;
	padding-bottom: 5px;
}
.texto{
	color: #38383a !important;
}
	/*convite*/
#convite{
	padding: 15px 0;
	background-color: rgba(111,111,111,.5);
}
#convite h2{
	font-size: 30px;
	color: white;
}
#convite input{
	width: calc(90% - 60px);
}
#convite button{
	border-top-left-radius: 0;
	border-top-left-radius: 0;
}
	/*contato*/
#contato{
	padding: 30px 0;
	background-color: rgb(225,225,225);
}
#contato form .form-group{
	margin: 10px 0;
}
.formulario-contato{
	padding: 30px 0;
}
	/*Footer*/
footer{
/*	background-color: #212529;*/
	padding: 30px 0;
	color: white;
}
footer ul{
	list-style: none;
	list-style-position: inside;
	padding-left: 0;
}
footer ul a{
	color: rgba(255,255,255,.55);
}
footer ul a:hover{
	color: white;
}
/*Responsivo*/

@media screen and (max-width: 500px){
	.custom-title{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.custom-title div{
		width: 25%;
		left: 50%;
		transform: translateX(-50%);
	}
	.texto{
		text-align: center;
	}
	.bg-linha{
		text-align: center;
	}
	.bg-linha > div:last-child{
		padding-top: 10px;
	}
}